/* Estilos gerais */
body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
}

/* Estilos do cabeçalho */
header {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 1em 0;
}

/* Estilos do ícone na barra lateral */
header span#leftSidebarIcon,
header span#rightSidebarIcon {
    font-size: 20px;
    margin: 0 10px;
    transition: transform 0.3s ease-in-out, font-size 0.3s ease-in-out;
}

/* Rotação dos ícones quando a barra lateral está aberta */
#sidebar.show + header span#leftSidebarIcon,
#sidebar.show + header span#rightSidebarIcon {
    transform: rotate(180deg) scale(1.2);
    font-size: 24px;
}

/* Estilos do nome "Pandora" */
header h1 {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Estilos do título na barra lateral */
#sidebar h2 {
    text-align: center; /* Centraliza o texto horizontalmente */
    margin-top: 0; /* Remove a margem superior padrão para um alinhamento mais preciso */
    padding: 10px; /* Adiciona algum preenchimento para espaçamento interno */
}

/* Estilos do botão "Toggle Sidebar" */
button#toggleSidebar {
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    background-color: #333;
    color: #fff;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out, transform 0.3s ease-in-out;
}

/* Estilos da barra lateral */
#sidebar {
    width: 300px;
    height: 100%;
    background-color: #333;
    color: #fff;
    position: fixed;
    top: 0;
    left: -300px;
    transition: left 0.3s ease-in-out, opacity 0.3s ease-in-out;
    opacity: 0; /* Adicione inicialmente a opacidade como 0 */
    overflow-y: auto;
}

/* Exibe a barra lateral quando a classe 'show' está presente */
#sidebar.show {
    left: 0;
    opacity: 1; /* Altera a opacidade para 1 quando a barra lateral está visível */
}

/* Estilos do conteúdo principal */
main {
    margin-left: 0;
    transition: margin-left 0.3s ease-in-out;
}

/* Adiciona margem à esquerda no conteúdo principal quando a barra lateral está visível */
#sidebar.show + main {
    margin-left: 300px;
}

/* Estilos para seções de conteúdo */
section {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    border: 1px solid #ccc;
}

/* Estilos para o formulário de login na barra lateral */
#sidebar form {
    max-width: 200px; /* Ajuste a largura conforme necessário */
    margin: 20px auto;
    background-color: #383838; /* Cor de fundo branca */
    padding: 30px;
    border-radius: 10px; /* Borda arredondada */
    box-shadow: 0 0 20px rgba(59, 52, 52, 0.2); /* Sombreamento mais pronunciado */
    display: flex;
    flex-direction: column;
    align-items: center;
}

#sidebar label {
    color: #fff; /* Cor do texto das etiquetas */
    font-size: 14px; /* Tamanho da fonte das etiquetas */
}

#sidebar input {
    width: 100%; /* Ocupa toda a largura disponível */
    padding: 12px; /* Adiciona algum preenchimento aos campos de entrada */
    margin-bottom: 20px; /* Adiciona espaço entre os campos de entrada */
    border: 1px solid #555; /* Borda mais proeminente */
    border-radius: 5px; /* Borda arredondada */
    background-color: #555; /* Cor de fundo dos campos de entrada */
    color: #fff; /* Cor do texto nos campos de entrada */
}

#sidebar input:focus {
    outline: none; /* Remove a borda de foco padrão */
    border-color: #888; /* Cor da borda ao receber foco */
}

#sidebar button {
    background-color: #464e46; /* Cor de fundo do botão */
    color: #fff; /* Cor do texto no botão */
    padding: 12px; /* Adiciona algum preenchimento ao botão */
    border: none; /* Remove a borda do botão */
    cursor: pointer; /* Altera o cursor ao pairar sobre o botão */
    border-radius: 5px; /* Borda arredondada */
    transition: background-color 0.3s ease-in-out;
}

#sidebar button:hover {
    background-color: #8fb691; /* Mudança de cor ao passar o mouse */
}

/* Estilos da barra lateral - nova adição */
.form-row {
    display: flex;
    align-items: center;
    justify-content: space-between; /* Espaço entre os elementos */
    margin-bottom: 20px; /* Adiciona espaço entre os campos de entrada e a linha */
}

.checkbox-row,
.forgot-password {
    display: flex;
    align-items: center;
}

.checkbox-row input {
    margin-right: 5px;
}

.checkbox-row label {
    margin: 0;
}

/* Estilizando o link "Esqueceu a Senha?" e "Manter Conectado" */
.checkbox-row label,
.forgot-password a {
    font-size: 14px; /* Ajuste o tamanho da fonte conforme necessário */
}

/* Estilizando o link "Esqueceu a Senha?" */
.forgot-password a {
    color: #fff; /* Cor do texto */
    text-decoration: none; /* Removendo sublinhado padrão */
    transition: color 0.3s ease-in-out;
}

.forgot-password a:hover {
    color: #aaa; /* Mudando a cor ao passar o mouse */
}

/* Novos estilos para alinhar à esquerda e à direita */
.checkbox-row {
    justify-content: flex-start; /* Alinha à esquerda */
}

.forgot-password {
    justify-content: flex-end; /* Alinha à direita */
}

/* Espaço entre "Manter Conectado" e "Esqueceu a Senha" */
.checkbox-row,
.forgot-password {
    margin-top: 10px;
}

.checkbox-row input {
    margin-right: 5px;
}

.checkbox-row label {
    margin: 0;
}

/* Estilizando o link "Esqueceu a Senha?" */
.forgot-password a {
    color: #fff; /* Cor do texto */
    text-decoration: none; /* Removendo sublinhado padrão */
    transition: color 0.3s ease-in-out;
}

.forgot-password a:hover {
    color: #aaa; /* Mudando a cor ao passar o mouse */
}

/* Adiciona margem entre "Manter Conectado" e "Esqueceu a Senha" */
.spacer {
    margin-right: 30px; /* Ajuste a largura conforme necessário */
}

/* Estilos do botão de login */
#sidebar form .login-button {
    margin-bottom: 20px; /* Adicione a margem inferior desejada */
}

/* Estilos do link de cadastro */
#sidebar form .create-account-link {
    /* Adicione estilos adicionais, se necessário */
}

/* Estilos do rodapé */
footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 1em 0;
}
