/* Estilos gerais */
body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
}

/* Estilos do cabeçalho */
header {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 1em 0;
}

/* Estilos do ícone na barra lateral */
header span#leftSidebarIcon,
header span#rightSidebarIcon {
    font-size: 20px;
    margin: 0 10px;
    transition: transform 0.3s ease-in-out;
}

/* Rotação dos ícones quando a barra lateral está aberta */
#sidebar.show + header span#leftSidebarIcon,
#sidebar.show + header span#rightSidebarIcon {
    transform: rotate(180deg);
}

/* Estilos do nome "Pandora" */
header h1 {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Estilos do botão "Toggle Sidebar" */
button#toggleSidebar {
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    background-color: #333;
    color: #fff;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
}

/* Estilos da barra lateral */
#sidebar {
    width: 200px;
    height: 100%;
    background-color: #333;
    color: #fff;
    position: fixed;
    top: 0;
    left: -200px;
    transition: left 0.3s ease-in-out;
    overflow-y: auto;
}

/* Exibe a barra lateral quando a classe 'show' está presente */
#sidebar.show {
    left: 0;
}

/* Estilos do conteúdo principal */
main {
    margin-left: 0;
    transition: margin-left 0.3s ease-in-out;
}

/* Adiciona margem à esquerda no conteúdo principal quando a barra lateral está visível */
#sidebar.show + main {
    margin-left: 200px;
}

/* Estilos para seções de conteúdo */
section {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    border: 1px solid #ccc;
}

/* Estilos do rodapé */
footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 1em 0;
}